/* 
* 로딩바 구현에 관한소스 
* 참고 사이트  http://github.hubspot.com/pace/docs/welcome/
*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #CEF279;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 5px;

  -webkit-transition: width 200ms;
  -moz-transition: width 200ms;
  -o-transition: width 200ms;
  transition: width 200ms;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #CEF279, 0 0 5px #ffffff;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  border: solid 10px transparent;
  border-top-color: #CEF279;
  border-left-color: #CEF279;
  border-radius: 30px;
  -webkit-animation: pace-spinner 900ms linear infinite;
  -moz-animation: pace-spinner 900ms linear infinite;
  -ms-animation: pace-spinner 900ms linear infinite;
  -o-animation: pace-spinner 900ms linear infinite;
  animation: pace-spinner 900ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

